body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  max-width: 1440px;
}

.page__body {
  min-width: 320px;
}


.body--main-image::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(90deg, #ffffff 50%, $primary-color 50%, rgba(104, 183, 56, 0.8)), url("/../../images/index-backgroundcat-mobile@2x.png");
  background-position: top left, top right;
  background-repeat: no-repeat;
  width: 95%;
  height: 694px;
  left: 100px;
  z-index: -2;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
