.advantages {
  font-family: $primary-font;
  width: 280px;
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.advantages__list {
  @include list-style;
  margin: 0;
  padding: 0;
  display: block;


  @media (min-width: $tablet) {
    display: flex;
    justify-content: start;
  }
}

.advantages__item {
  width: 280px;
  height: 60px;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet) {
    width: 246px;
    height: 280px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    width: 230px;
    height: 280px;
  }
}

/*
.advantages__item::before {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  background-color: $primary-color;
}
  */
.advantages__item:not(:last-child) {
  margin-bottom: 20px;
}

.advantages__icon {

  width: 60px;
  height: 60px;

  @media (min-width: $tablet) {
    width: 60px;
    height: 60px;
  }
}

.advantages__icon--benefit {
  background-image: url("../../icons/stack.svg#icon-leaf");
}

.advantages__icon--fast {
  background-image: url("../../icons/stack.svg#icon-instant");
}

.advantages__icon--functionality {
  background-image: url("../../icons/stack.svg#icon-fork");
}

.advantages__icon--health {
  background-image: url("../../icons/stack.svg#icon-clock");
}


.advantages-description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 200px;
  height: 54px;

  @media (min-width: $tablet) {
    width: 204px;
    height: 72px;
  }
}

