

.hero {
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(to right, #ffffff 50%, $primary-color 50%);
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;

  @media (min-width: 768px) {
    color: #000000;
  }
}

.hero__description {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__button {
  @include primary-button;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.hero__main-picture {
  background-image: linear-gradient(to top, #ffffff 50%, $primary-color 50%);

  @media (min-width: 768px) {
    background-image: none;
  }

  @media (min-width: 768px) {
    background-image: linear-gradient(to right, #ffffff 50%, $primary-color 50%);
  }
}
